<div class="container"><!-- Start container -->
<header class="headermovie"><!-- Start header -->
            <img class="imglogo" src="http://res.cloudinary.com/dy6weuz9h/image/upload/v1496217414/tomate-sonriente-comida-verduras-pintado-por-cassandra_-9753882_burned_tztnqo.png">
    <!-- Start login/sign up -->
        <div class="login1">
    <!-- <a href="change-hyperlink-color.php"> -->
            <b><%=link_to "SIGN UP", new_user_registration_path %></b></a>
        </div>
        <div class="login2">
            <b><%=link_to "LOGIN", new_user_session_path %></b>
        </div>
    <!-- Finish login/sign up -->
    <!-- Start search bar -->
    <form class="searchposition body2 a2 form-wrapper">
        <input type="text" id="search" placeholder="Search for..." required>
        <input type="submit" value="go" id="submit">
    </form>
    <!-- Finish search bar -->
    <!-- Start menu bar -->
        <button class="headerbtn hbposition alltxt"><b>NEWS</b></button>
    <button class="headerbtn hbposition alltxt"><b>TV</b></button>
    <button class="headerbtn hbposition alltxt"><b>MOVIES & DVDS</b></button>
     <!-- Finish menu bar -->
  </header><!-- Finish header -->
</div><!-- Finish container -->