.alert-success {
	background-color: green;
	border-color: pink;
	color: white;
	text-align: left;
}

.alert-danger {
	background-color: red;
	border-color: pink;
	color: white;
	text-align: left;
}

.alert-warning {
	background-color: yellow;
	border-color: pink;
	color: white;
	text-align: left;
}

.alert-info {
	background-color: blue;
	border-color: pink;
	color: white;
	text-align: left;
}