.settingtxt {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* BUTTONS */
.summarybtn {
	 border: none;
	 border-radius: 8px;
	 padding: 10px 20px;
	 background: #0099ff;
	 color: white;
	 font-size: 17px;
	 margin-top: 10px;
}

.topbtn {
	border: none;
	border-radius: 8px;
	padding: 10px 20px; 
	background: white;
	color: #0099ff;
	font-size: 17px;
	margin-top: 10px;
}

.topbtn:hover {
	background: red;
	color: #0099ff;
	font-size: 17px;
}

/* BOXES */
.box4 {
	border: 1px solid #e6e6e6;
	margin-top: 10px;
}

.box5 {
	border: 1px solid #e6e6e6;
	margin-top: 20px;
}

.box6 {
	border: 1px solid #FDEE00;
	padding: 15px 20px;
	background-color: #FDEE00;

}

/* IMAGENES */
.loginimg {
	height: 110px;
	width: 115px;
	margin: 30px 0px 0px 30px;
}

.movie1 {
	width: 150px;

}

.movie1:hover {
    opacity: 0.5;
}

.movie2 {
	margin: 0px 0px 0px 14px;
	width: 150px;
}

.movie2:hover {
    opacity: 0.5;
}

.movie3 {
	margin: 0px 0px 0px 14px;
	width: 150px;
}

.movie3:hover {
    opacity: 0.5;
}

.movie4 {
	width: 150px;
	margin: 0px 0px 0px 14px;
}

.movie4:hover {
    opacity: 0.5;
}

.serie1 {
	width: 150px;
}

.serie1:hover {
    opacity: 0.5;
}

.serie2 {
	margin: 0px 0px 0px 14px;
	width: 150px;
}

.serie2:hover {
    opacity: 0.5;
}
	
.serie3 {
	margin: 0px 0px 0px 14px;
	width: 150px;
}

.serie3:hover {
    opacity: 0.5;
}

.serie4 {
	width: 150px;
	margin: 0px 0px 0px 14px;
}

.serie4:hover {
    opacity: 0.5;
}

/* BUTTON ADD/EDIT */
.addbtn {
	 border: none;
	 border-radius: 8px;
	 padding: 5px 15px;
	 background: #0099ff;
	 color: white;
	 font-size: 17px;
	 float: left;
	 margin-top: 10px;
	 margin-bottom: 10px;
	 margin: 10px 0px 10px 30px;
}
.editbtn {
	 border: none;
	 border-radius: 8px;
	 padding: 5px 15px;
	 background: #0099ff;
	 color: white;
	 font-size: 17px;
	 margin-top: 10px;
	 margin-bottom: 10px;
}

/* TEXT */
.imgtxt {
	margin: 0px 0px 0px 30px;
}