/* BACKGROUNDS */
.background1 {
	background-color: #333333;
	height: 30px;
	width: 100%;
	border: solid 1px #e6e6e6;
}

/* HEADER */
.headermovie {
	background-color: #3A9425;
	padding: 50px;
	height: 100px;
	width: 100%;
}

.headertxt {
	color: white;
    text-transform: uppercase;
    float: top;
    margin: -40px 0px 0px 500px;
}

.headerbtn {
    background: #3A9425;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.headerbtn:hover {
    background: white;
    color: black;
}

.hbposition {
	float: right;
	margin: -5px -10px 10px 10px;
}

.login1{
	float: right;
    margin: -40px 70px 10px 10px;
    color: white;
    font-size: 15px;
}

.login2{
	float: right;
    margin: -40px 12px 10px 10px;
    color: white;
    font-size: 15px;
}

/* NAV BAR */
.navbar3[type=text]:focus {
    width: 100%;
}

/* BOXES */
.box1 {
	width: 300px;
    border-left: 1px solid #e6e6e6;
    border-right: 0.5px solid #e6e6e6;
}

.box2 {
	width: 300px;
}

.box3 {
	width: 300px;
    border-left: 0.5px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

/* TABLA */
.table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
    padding: 5px;
}

.boxtabla1 {
	width: 300px;
    border-left: 1px solid #e6e6e6;
    border-right: 0.5px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    font-size: 15px;
}

.boxtabla2 {
	width: 300px;
    border-left: 0.5px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    font-size: 15px;
}

.tMeterScore {
        display:inline-block;
        text-align:center;
        width:31px;
}

/* TEXT */
.alltxt {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.alltxt2 {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
}

.rowunotxt {
	color: #FDEE00;
	text-transform: uppercase;
    
}

.contactbtn {
	background-color: #FDEE00;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

/* IMAGES */
.imagehvr:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.imglogo {
	height: 100px;
	width: 240px;
	float: left;
	margin: -50px -40px 0px -50px;
}

.img1 {
	height: 350px;
	width: 583px;
	margin: 0px 0px 0px -15px;
}

.img2 {
    height: 350px;
    width: 583px;
    margin: 0px 0px 0px -15px;
}

.img3 {
	height: 350px;
	width: 292px;
	margin: 0px 0px 0px -15px;
}

.img4 {
	height: 350px;
	width: 291px;
	margin: 0px 0px 0px -15px;
}

.miniimg {
	width: 30px;
	height: 30px;
}

/* FOOTER */
.footermovie {
	background-color: black;
	padding: 50px;
	margin-top: 10%;
	margin-bottom: 1%;
	height: 200px;
	width: 100%;
}

.footertxt {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
}

.tablabtn {
	background-color: #3A9425;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}